[automationcontroller]
%{ for addr in aap_controller_hosts ~}
${addr}
%{ endfor ~}

[automationcontroller:vars]
peers=execution_nodes

[execution_nodes]
%{ for addr in aap_ee_hosts ~}
${addr}
%{ endfor ~}

[automationhub]
%{ for addr in aap_hub_hosts ~}
${addr}
%{ endfor ~}

[automationedacontroller]
%{ for addr in aap_eda_hosts ~}
${addr}
%{ endfor ~}

[database]

[all:vars]
ansible_user=azureuser
ansible_ssh_private_key_file=/home/${infrastructure_admin_username}/.ssh/infrastructure_ssh_private_key.pem
ansible_become=true
admin_password='${aap_admin_password}'

pg_host='${aap_db_host}'
pg_port=5432
pg_database='controller'
pg_username='${infrastructure_db_username}'
pg_password='${infrastructure_db_password}'
pg_sslmode='prefer'

install_pg_port=5432

registry_url='registry.redhat.io'
registry_username='${aap_red_hat_username}'
registry_password='${aap_red_hat_password}'
ee_from_hub_only = True

receptor_listener_port=27199

automationhub_admin_password='${aap_admin_password}'

automationhub_pg_host='${aap_db_host}'
automationhub_pg_port=5432
automationhub_pg_database='hub'
automationhub_pg_username='${infrastructure_db_username}'
automationhub_pg_password='${infrastructure_db_password}'
automationhub_pg_sslmode='prefer'

automationedacontroller_admin_password='${aap_admin_password}'

automationedacontroller_allowed_hostnames='%{ for addr in aap_eda_allowed_hostnames ~}${addr}%{ endfor ~}'

automationedacontroller_pg_host='${aap_db_host}'
automationedacontroller_pg_port=5432
automationedacontroller_pg_database='eda'
automationedacontroller_pg_username='${infrastructure_db_username}'
automationedacontroller_pg_password='${infrastructure_db_password}'
automationedacontroller_pg_sslmode='prefer'

enable_insights_collection = False